.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    background-color: #F8F9FA;
}

.titleText{
    text-align: center;
}
