.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
    background-color: #F8F9FA;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buttonContainer{
    width: 300px;
    display: flex;
    justify-content: space-between;
}


.button{
    background-color: #F1F3F5;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 0.8rem 3.4rem;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}

.productContainer{
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
}

.link{
    font-weight: 700;
    text-decoration: underline;
}